<a href="https://colab.research.google.com/github/Sravya-mannava/prog_found_DS/blob/main/Pandas_HW_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas Homework II

20 points (1 pt for each task except for task 0)

Due by midnight October 27, 2023

We will be using the Failed Bank List from FDIC. Just follow along and complete the tasks outlined below. Most of the tasks can be solved in different ways. The tasks will get harder and harder as you go along.

**To avoid erasing the sample output, please insert a new cell above the sample output**. Write your script inside the new cell and run. Verify your output with the sample output

For lab submission, please rename your file using the following format

`firstname_familyname_pandas_HW2.ipynb`

In [ ]:
# please enter your name and 700# in this cell
#Name: Sravya Mannava
#700 : 700747750

### Task 0 (0 pt)
Run the following cell

In [1]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

### Task 1
**Import numpy as np** <br> **Import pandas as pd**

In [2]:
import numpy as np
import pandas as pd

### Task 2
Read the failed bank list from FDIC website at https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/ <br>
Display the first five rows of the table

In [3]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
df[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538

### Task 3
Display the Column names of the table

In [4]:
df[0].columns

Index(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype='object')

Index(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype='object')

### Task 4
Check to see whether there is any empty values in each column

In [5]:
df[0].isnull().any()

Bank NameBank              False
CityCity                   False
StateSt                    False
CertCert                   False
Acquiring InstitutionAI    False
Closing DateClosing        False
FundFund                   False
dtype: bool

Bank NameBank              False
CityCity                   False
StateSt                    False
CertCert                   False
Acquiring InstitutionAI    False
Closing DateClosing        False
FundFund                   False
dtype: bool

### Task 5
Check to see whether there is any duplicated row

In [6]:
df[0].duplicated().sum()

0

0

### Task 6

You may notice that the column names of the table is not correct. Please change some of the column names accoording to the following list. <br>
`Bank NameBank` -> `Bank Name` <br>
`CityCity` -> `City` <br>
`StateSt` -> `State` <br>
`Closing DateClosing` -> `Closing Date`

In [7]:
df[0] = df[0].rename(columns={'Bank NameBank': 'Bank Name', 'CityCity': 'City','StateSt':'State','Closing DateClosing':'Closing Date'})
df[0].head()

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538

### Task 7
How many failed banks were based in Missouri?

In [10]:
len(df[0][df[0].State =='MO'])

16

16

### Task 8
Which city has the most numbers of failed banks?

In [12]:
df[0]['City'].value_counts().index[0]

'Chicago'

In [ ]:
df['City'].value_counts().index[0]

'Chicago'

### Task 9
Verify the date in the 'Closing Date' column is a String not the DateTime object

In [13]:
type(df[0]['Closing Date'][0])

str

str

### Task 10
Which year has the most failed banks?

In [14]:
year_df=pd.DataFrame(i.year for i in pd.to_datetime(df[0]['Closing Date']))
str(year_df.value_counts().index[0][0])

'2010'

'2010'

### Task 11
Which month has the most failed banks?

In [15]:
month_df=pd.DataFrame(i.month_name() for i in pd.to_datetime(df[0]['Closing Date']))
str(month_df.value_counts().index[0][0])

'July'

'July'

### Task 12
Which institution acquired the second most numbers of failed banks?

In [16]:
df[0]['Acquiring InstitutionAI'].value_counts().index[1]

'State Bank and Trust Company'

'State Bank and Trust Company'

### Task 13
Change the date in the `Closing Date` column to the dateTime object and display the first five rows of the table.

In [17]:
df[0]['Closing Date']=pd.to_datetime(df[0]['Closing Date'])
df[0].head()

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.",2023-07-28,10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.",2023-05-01,10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.",2023-03-12,10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,2023-03-10,10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,2020-10-23,10538

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.",2023-07-28,10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.",2023-05-01,10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.",2023-03-12,10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,2023-03-10,10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,2020-10-23,10538

### Task 14
Display the Bank information which has a cert number 33901

In [18]:
df[0][df[0]['CertCert']==33901]

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
537,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,2008-05-09,10005

,Bank Name,City,State,CertCert,Acquiring InstitutionAI,Closing Date,FundFund
537,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,2008-05-09,10005

### Task 15
How many banks failed between January 1, 2008 and December 31, 2010?

In [19]:
len(df[0][df[0]['Closing Date'].between('2008-01-01', '2010-12-31')])

322

322

### Task 16
Reorganize the table to make the State and City as the indexes of the table. Display the first 20 rows of the new table

In [20]:
df[0]=df[0].set_index(['State', 'City']).sort_index()
df[0].head(20)

                                                   Bank Name  CertCert  \
State City
AL    Birmingham                               Superior Bank     17750
      Birmingham                                 Nexity Bank     19794
      Birmingham                           CapitalSouth Bank     22130
      Fort Deposit                        First Lowndes Bank     24957
      Irondale                New South Federal Savings Bank     32276
      Montgomery                               Colonial Bank      9609
      Sylacauga     Alabama Trust Bank, National Association     35224
AR    Batesville                         First Southern Bank     58052
      Bentonville                          ANB Financial, NA     33901
      Gravette                        Sinclair National Bank     34248
      Mulberry                                   Allied Bank        91
AZ    Flagstaff                             First State Bank     34875
      Gilbert               Union Bank, National Association     34485
      Gold Canyon                           Gold Canyon Bank     58066
      Mesa                             Towne Bank of Arizona     57697
      Mesa                         Valley Capital Bank, N.A.     58399
      Phoenix                        Sunrise Bank of Arizona     34707
      Phoenix                          Western National Bank     57917
      Phoenix                              Desert Hills Bank     57060
      Phoenix                                 Bank USA, N.A.     32218

                                        Acquiring InstitutionAI Closing Date  \
State City
AL    Birmingham            Superior Bank, National Association   2011-04-15
      Birmingham                       AloStar Bank of Commerce   2011-04-15
      Birmingham                                     IBERIABANK   2009-08-21
      Fort Deposit                          First Citizens Bank   2010-03-19
      Irondale                                        Beal Bank   2009-12-18
      Montgomery         Branch Banking & Trust Company, (BB&T)   2009-08-14
      Sylacauga                            Southern States Bank   2012-05-18
AR    Batesville                                  Southern Bank   2010-12-17
      Bentonville                Pulaski Bank and Trust Company   2008-05-09
      Gravette                               Delta Trust & Bank   2001-09-07
      Mulberry                                     Today's Bank   2016-09-23
AZ    Flagstaff                                    Sunwest Bank   2009-09-04
      Gilbert                                     MidFirst Bank   2009-08-14
      Gold Canyon   First Scottsdale Bank, National Association   2013-04-05
      Mesa                             Commerce Bank of Arizona   2010-05-07
      Mesa                              Enterprise Bank & Trust   2009-12-11
      Phoenix         First Fidelity Bank, National Association   2013-08-23
      Phoenix                                Washington Federal   2011-12-16
      Phoenix                           New York Community Bank   2010-03-26
      Phoenix                                    U.S. Bank N.A.   2009-10-30

                    FundFund
State City
AL    Birmingham       10358
      Birmingham       10356
      Birmingham       10106
      Fort Deposit     10204
      Irondale         10163
      Montgomery       10103
      Sylacauga        10440
AR    Batesville       10322
      Bentonville      10005
      Gravette          4649
      Mulberry         10522
AZ    Flagstaff        10114
      Gilbert          10102
      Gold Canyon      10472
      Mesa             10235
      Mesa             10159
      Phoenix          10487
      Phoenix          10416
      Phoenix          10205
      Phoenix          10136

                                                   Bank Name  CertCert  \
State City
AL    Birmingham                               Superior Bank     17750
      Birmingham                                 Nexity Bank     19794
      Birmingham                           CapitalSouth Bank     22130
      Fort Deposit                        First Lowndes Bank     24957
      Irondale                New South Federal Savings Bank     32276
      Montgomery                               Colonial Bank      9609
      Sylacauga     Alabama Trust Bank, National Association     35224
AR    Batesville                         First Southern Bank     58052
      Bentonville                          ANB Financial, NA     33901
      Gravette                        Sinclair National Bank     34248
      Mulberry                                   Allied Bank        91
AZ    Flagstaff                             First State Bank     34875
      Gilbert               Union Bank, National Association     34485
      Gold Canyon                           Gold Canyon Bank     58066
      Mesa                             Towne Bank of Arizona     57697
      Mesa                         Valley Capital Bank, N.A.     58399
      Phoenix                        Sunrise Bank of Arizona     34707
      Phoenix                          Western National Bank     57917
      Phoenix                              Desert Hills Bank     57060
      Phoenix                                 Bank USA, N.A.     32218

                                        Acquiring InstitutionAI Closing Date  \
State City
AL    Birmingham            Superior Bank, National Association   2011-04-15
      Birmingham                       AloStar Bank of Commerce   2011-04-15
      Birmingham                                     IBERIABANK   2009-08-21
      Fort Deposit                          First Citizens Bank   2010-03-19
      Irondale                                        Beal Bank   2009-12-18
      Montgomery         Branch Banking & Trust Company, (BB&T)   2009-08-14
      Sylacauga                            Southern States Bank   2012-05-18
AR    Batesville                                  Southern Bank   2010-12-17
      Bentonville                Pulaski Bank and Trust Company   2008-05-09
      Gravette                               Delta Trust & Bank   2001-09-07
      Mulberry                                     Today's Bank   2016-09-23
AZ    Flagstaff                                    Sunwest Bank   2009-09-04
      Gilbert                                     MidFirst Bank   2009-08-14
      Gold Canyon   First Scottsdale Bank, National Association   2013-04-05
      Mesa                             Commerce Bank of Arizona   2010-05-07
      Mesa                              Enterprise Bank & Trust   2009-12-11
      Phoenix         First Fidelity Bank, National Association   2013-08-23
      Phoenix                                Washington Federal   2011-12-16
      Phoenix                           New York Community Bank   2010-03-26
      Phoenix                                    U.S. Bank N.A.   2009-10-30

                    FundFund
State City
AL    Birmingham       10358
      Birmingham       10356
      Birmingham       10106
      Fort Deposit     10204
      Irondale         10163
      Montgomery       10103
      Sylacauga        10440
AR    Batesville       10322
      Bentonville      10005
      Gravette          4649
      Mulberry         10522
AZ    Flagstaff        10114
      Gilbert          10102
      Gold Canyon      10472
      Mesa             10235
      Mesa             10159
      Phoenix          10487
      Phoenix          10416
      Phoenix          10205
      Phoenix          10136

### Task 17
Display failed banks based in Kansas City, MO

In [21]:
df[0].loc[('MO','Kansas City')]

                                   Bank Name  CertCert  \
State City
MO    Kansas City  First Bank of Kansas City     25231
      Kansas City     Douglass National Bank     24660

                          Acquiring InstitutionAI Closing Date  FundFund
State City
MO    Kansas City             Great American Bank   2009-09-04     10112
      Kansas City  Liberty Bank and Trust Company   2008-01-25     10003

                                   Bank Name  CertCert  \
State City
MO    Kansas City  First Bank of Kansas City     25231
      Kansas City     Douglass National Bank     24660

                          Acquiring InstitutionAI Closing Date  FundFund
State City
MO    Kansas City             Great American Bank   2009-09-04     10112
      Kansas City  Liberty Bank and Trust Company   2008-01-25     10003

### Task 18
Display failed banks in Missouri and Kansas

In [22]:
df[0].loc[['MO','KS']]

                                                            Bank Name  \
State City
MO    Butler                                        BC National Banks
      Chesterfield                  WestBridge Bank and Trust Company
      Creve Coeur                                       Champion Bank
      Ellington                                     Sun Security Bank
      Glasgow                                    Glasgow Savings Bank
      Hume                                                  Hume Bank
      Jefferson City                                     Premier Bank
      Kansas City                           First Bank of Kansas City
      Kansas City                              Douglass National Bank
      Leeton                                           Bank of Leeton
      Sedalia                                              Excel Bank
      Springfield                            Southwest Community Bank
      St. Louis                                           Truman Bank
      St. Louis                             Gateway Bank of St. Louis
      Sugar Creek                              American Sterling Bank
      Sunrise Beach                      Community Bank of the Ozarks
KS    Almena                                        Almena State Bank
      Anthony                          First National Bank of Anthony
      Argonia         The Farmers and Merchants State Bank of Argonia
      Elkhart                                Heartland Tri-State Bank
      Leawood                                          Heartland Bank
      Olathe                        The First National Bank of Olathe
      Olathe                            Security Savings Bank, F.S.B.
      Overland Park                                    Hillcrest Bank
      Overland Park                                     SolutionsBank
      Paola                                              TeamBank, NA
      Sylvan Grove                                       Thunder Bank
      Topeka                                   Columbian Bank & Trust

                      CertCert         Acquiring InstitutionAI Closing Date  \
State City
MO    Butler             17792            Community First Bank   2010-04-30
      Chesterfield       58205             Midland States Bank   2010-10-15
      Creve Coeur        58362                     BankLiberty   2010-04-30
      Ellington          20115             Great Southern Bank   2011-10-07
      Glasgow             1056          Regional Missouri Bank   2012-07-13
      Hume                1971                   Security Bank   2008-03-07
      Jefferson City     34016                 Providence Bank   2010-10-15
      Kansas City        25231             Great American Bank   2009-09-04
      Kansas City        24660  Liberty Bank and Trust Company   2008-01-25
      Leeton              8265            Sunflower Bank, N.A.   2010-01-22
      Sedalia            19189     Simmons First National Bank   2012-10-19
      Springfield        34255     Simmons First National Bank   2010-05-14
      St. Louis          27316     Simmons First National Bank   2012-09-14
      St. Louis          19450     Central Bank of Kansas City   2009-11-06
      Sugar Creek         8266                    Metcalf Bank   2009-04-17
      Sunrise Beach      27331                Bank of Sullivan   2012-12-14
KS    Almena             15426                     Equity Bank   2020-10-23
      Anthony             4614                  Bank of Kansas   2009-06-19
      Argonia            17719                     Conway Bank   2017-10-13
      Elkhart            25851          Dream First Bank, N.A.   2023-07-28
      Leawood             1361                    Metcalf Bank   2012-07-20
      Olathe              4744         Enterprise Bank & Trust   2011-08-12
      Olathe             30898     Simmons First National Bank   2010-10-15
      Overland Park      22173            Hillcrest Bank, N.A.   2010-10-22
      Overland Park       4731                     Arvest Bank   2009-12-11
      Paola               4754             Great Southern Bank   2009-03-20
      Sylvan Grove       10506       The Bennington State Bank   2010-07-23
      Topeka             22728           Citizens Bank & Trust   2008-08-22

                      FundFund
State City
MO    Butler             10225
      Chesterfield       10299
      Creve Coeur        10227
      Ellington          10400
      Glasgow            10449
      Hume               10004
      Jefferson City     10297
      Kansas City        10112
      Kansas City        10003
      Leeton             10174
      Sedalia            10460
      Springfield        10239
      St. Louis          10458
      St. Louis          10146
      Sugar Creek        10052
      Sunrise Beach      10467
KS    Almena             10538
      Anthony            10066
      Argonia            10529
      Elkhart            10544
      Leawood            10452
      Olathe             10388
      Olathe             10298
      Overland Park      10302
      Overland Park      10160
      Paola              10046
      Sylvan Grove       10269
      Topeka             10011

                                                            Bank Name  \
State City
MO    Butler                                        BC National Banks
      Chesterfield                  WestBridge Bank and Trust Company
      Creve Coeur                                       Champion Bank
      Ellington                                     Sun Security Bank
      Glasgow                                    Glasgow Savings Bank
      Hume                                                  Hume Bank
      Jefferson City                                     Premier Bank
      Kansas City                           First Bank of Kansas City
      Kansas City                              Douglass National Bank
      Leeton                                           Bank of Leeton
      Sedalia                                              Excel Bank
      Springfield                            Southwest Community Bank
      St. Louis                                           Truman Bank
      St. Louis                             Gateway Bank of St. Louis
      Sugar Creek                              American Sterling Bank
      Sunrise Beach                      Community Bank of the Ozarks
KS    Almena                                        Almena State Bank
      Anthony                          First National Bank of Anthony
      Argonia         The Farmers and Merchants State Bank of Argonia
      Elkhart                                Heartland Tri-State Bank
      Leawood                                          Heartland Bank
      Olathe                        The First National Bank of Olathe
      Olathe                            Security Savings Bank, F.S.B.
      Overland Park                                    Hillcrest Bank
      Overland Park                                     SolutionsBank
      Paola                                              TeamBank, NA
      Sylvan Grove                                       Thunder Bank
      Topeka                                   Columbian Bank & Trust

                      CertCert         Acquiring InstitutionAI Closing Date  \
State City
MO    Butler             17792            Community First Bank   2010-04-30
      Chesterfield       58205             Midland States Bank   2010-10-15
      Creve Coeur        58362                     BankLiberty   2010-04-30
      Ellington          20115             Great Southern Bank   2011-10-07
      Glasgow             1056          Regional Missouri Bank   2012-07-13
      Hume                1971                   Security Bank   2008-03-07
      Jefferson City     34016                 Providence Bank   2010-10-15
      Kansas City        25231             Great American Bank   2009-09-04
      Kansas City        24660  Liberty Bank and Trust Company   2008-01-25
      Leeton              8265            Sunflower Bank, N.A.   2010-01-22
      Sedalia            19189     Simmons First National Bank   2012-10-19
      Springfield        34255     Simmons First National Bank   2010-05-14
      St. Louis          27316     Simmons First National Bank   2012-09-14
      St. Louis          19450     Central Bank of Kansas City   2009-11-06
      Sugar Creek         8266                    Metcalf Bank   2009-04-17
      Sunrise Beach      27331                Bank of Sullivan   2012-12-14
KS    Almena             15426                     Equity Bank   2020-10-23
      Anthony             4614                  Bank of Kansas   2009-06-19
      Argonia            17719                     Conway Bank   2017-10-13
      Elkhart            25851          Dream First Bank, N.A.   2023-07-28
      Leawood             1361                    Metcalf Bank   2012-07-20
      Olathe              4744         Enterprise Bank & Trust   2011-08-12
      Olathe             30898     Simmons First National Bank   2010-10-15
      Overland Park      22173            Hillcrest Bank, N.A.   2010-10-22
      Overland Park       4731                     Arvest Bank   2009-12-11
      Paola               4754             Great Southern Bank   2009-03-20
      Sylvan Grove       10506       The Bennington State Bank   2010-07-23
      Topeka             22728           Citizens Bank & Trust   2008-08-22

                      FundFund
State City
MO    Butler             10225
      Chesterfield       10299
      Creve Coeur        10227
      Ellington          10400
      Glasgow            10449
      Hume               10004
      Jefferson City     10297
      Kansas City        10112
      Kansas City        10003
      Leeton             10174
      Sedalia            10460
      Springfield        10239
      St. Louis          10458
      St. Louis          10146
      Sugar Creek        10052
      Sunrise Beach      10467
KS    Almena             10538
      Anthony            10066
      Argonia            10529
      Elkhart            10544
      Leawood            10452
      Olathe             10388
      Olathe             10298
      Overland Park      10302
      Overland Park      10160
      Paola              10046
      Sylvan Grove       10269
      Topeka             10011

### Task 19
Display failed banks based in the Kansas City metro area which include Kansas City, Overland Park, Leawood and Olathe

In [23]:
df[0].loc[[('MO','Kansas City'),('KS','Overland Park'),('KS','Leawood'),('KS','Olathe')]]

                                             Bank Name  CertCert  \
State City
MO    Kansas City            First Bank of Kansas City     25231
      Kansas City               Douglass National Bank     24660
KS    Overland Park                     Hillcrest Bank     22173
      Overland Park                      SolutionsBank      4731
      Leawood                           Heartland Bank      1361
      Olathe         The First National Bank of Olathe      4744
      Olathe             Security Savings Bank, F.S.B.     30898

                            Acquiring InstitutionAI Closing Date  FundFund
State City
MO    Kansas City               Great American Bank   2009-09-04     10112
      Kansas City    Liberty Bank and Trust Company   2008-01-25     10003
KS    Overland Park            Hillcrest Bank, N.A.   2010-10-22     10302
      Overland Park                     Arvest Bank   2009-12-11     10160
      Leawood                          Metcalf Bank   2012-07-20     10452
      Olathe                Enterprise Bank & Trust   2011-08-12     10388
      Olathe            Simmons First National Bank   2010-10-15     10298

                                             Bank Name  CertCert  \
State City
MO    Kansas City            First Bank of Kansas City     25231
      Kansas City               Douglass National Bank     24660
KS    Overland Park                     Hillcrest Bank     22173
      Overland Park                      SolutionsBank      4731
      Leawood                           Heartland Bank      1361
      Olathe         The First National Bank of Olathe      4744
      Olathe             Security Savings Bank, F.S.B.     30898

                            Acquiring InstitutionAI Closing Date  FundFund
State City
MO    Kansas City               Great American Bank   2009-09-04     10112
      Kansas City    Liberty Bank and Trust Company   2008-01-25     10003
KS    Overland Park            Hillcrest Bank, N.A.   2010-10-22     10302
      Overland Park                     Arvest Bank   2009-12-11     10160
      Leawood                          Metcalf Bank   2012-07-20     10452
      Olathe                Enterprise Bank & Trust   2011-08-12     10388
      Olathe            Simmons First National Bank   2010-10-15     10298

### Task 20
How many failed banks' names include the word `National`?

In [24]:
len(df[0][df[0]['Bank Name'].str.contains('National')])

69

69